In [32]:
# load package
from cryptory import Cryptory
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


import ssl

ssl._create_default_https_context = ssl._create_unverified_context

# initialise object 
# pull data from start of 2017 to present day
my_cryptory = Cryptory(from_date = "2017-01-01")

# get historical bitcoin prices from coinmarketcap
my_cryptory.extract_coinmarketcap("bitcoin")

          date     open     high      low    close       volume     marketcap
0   2019-05-03  5505.55  5865.88  5490.20  5768.29  18720780006  101986240859
1   2019-05-02  5402.42  5522.26  5394.22  5505.28  14644460907   97330112147
2   2019-05-01  5350.91  5418.00  5347.65  5402.70  13679528236   95501110091
3   2019-04-30  5247.73  5363.26  5224.19  5350.73  13878964574   94573826827
4   2019-04-29  5284.86  5311.27  5216.49  5247.35  13735490672   92737510865
5   2019-04-28  5271.75  5326.23  5255.68  5285.14  12819992056   93391244395
6   2019-04-27  5279.47  5310.75  5233.64  5268.29  13111274675   93086156556
7   2019-04-26  5210.30  5383.63  5177.37  5279.35  16812108040   93272287960
8   2019-04-25  5466.52  5542.24  5181.34  5210.52  15330283408   92046492864
9   2019-04-24  5571.51  5642.04  5418.26  5464.87  17048033399   96530038144
10  2019-04-23  5399.37  5633.80  5389.41  5572.36  15867308108   98417387004
11  2019-04-22  5312.49  5422.69  5280.28  5399.37  14601631648   95354207776
12  2019-04-21  5335.88  5359.93  5257.34  5314.53  13731844223   93847052256
13  2019-04-20  5304.16  5358.49  5295.88  5337.89  13169647522   94248717444
14  2019-04-19  5298.15  5336.68  5233.34  5303.81  13780238655   93638345002
15  2019-04-18  5251.48  5319.99  5250.51  5298.39  13256489918   93532402741
16  2019-04-17  5236.14  5274.28  5219.21  5251.94  12438480677   92702617458
17  2019-04-16  5066.58  5238.95  5055.19  5235.56  11618660197   92404613297
18  2019-04-15  5167.32  5196.61  5024.07  5067.11  12290155061   89422237603
19  2019-04-14  5095.76  5184.02  5053.57  5167.72  10391952498   91188595341
20  2019-04-13  5088.85  5127.12  5061.59  5096.59  10823289598   89925574875
21  2019-04-12  5061.20  5103.27  4955.85  5089.54  13675206312   89792633045
22  2019-04-11  5325.08  5354.23  5017.30  5064.49  16555616019   89341168457
23  2019-04-10  5204.11  5421.65  5193.38  5324.55  15504590933   93918439274
24  2019-04-09  5289.92  5289.92  5167.42  5204.96  14722104361   91799330425
25  2019-04-08  5199.84  5318.84  5148.21  5289.77  17154113634   93286365973
26  2019-04-07  5062.79  5235.19  5050.41  5198.90  16655416140   91674230186
27  2019-04-06  5036.79  5205.82  4992.22  5059.82  16929795194   89212733450
28  2019-04-05  4922.81  5053.51  4919.49  5036.68  16837325387   88796118650
29  2019-04-04  4971.31  5063.16  4836.79  4922.80  18251810240   86778727821
..         ...      ...      ...      ...      ...          ...           ...
823 2017-01-30   920.15   923.05   919.47   920.38     78227296   14850351605
824 2017-01-29   922.07   923.42   919.15   919.50     60851700   14834377926
825 2017-01-28   919.81   923.91   919.81   921.59     68979600   14866260449
826 2017-01-27   918.36   923.22   915.85   919.75    125594000   14834831700
827 2017-01-26   902.40   919.33   902.22   917.59    131958000   14797955301
828 2017-01-25   891.92   903.25   891.69   901.54    120831000   14537488261
829 2017-01-24   910.68   924.15   892.29   892.69    111349000   14393026385
830 2017-01-23   925.50   928.27   916.74   921.01     73588600   14848013909
831 2017-01-22   922.21   937.53   897.56   924.67    116573000   14905439337
832 2017-01-21   895.55   927.37   895.53   921.79    111158000   14856911163
833 2017-01-20   898.17   899.40   887.01   895.03     86728400   14423545371
834 2017-01-19   888.34   904.61   884.34   899.07    105625000   14486616700
835 2017-01-18   909.37   917.50   858.30   886.62    225676992   14284036613
836 2017-01-17   830.95   910.56   830.80   907.94    155095008   14625779851
837 2017-01-16   821.78   834.53   820.27   831.53     82755200   13393372620
838 2017-01-15   818.14   823.31   812.87   821.80     71013600   13234840657
839 2017-01-14   825.14   835.09   812.46   818.41     93063296   13178601992
840 2017-01-13   803.74   829.00   780.00   823.98    168968000   13266554392
841 2017-01-12   775.18   826.25   755.76   804.83    222326000   12956730411
842 2017-01-11   908.11   919.45   762.77   777.76    310928992   12519135996
843 2017-01-10   902.44   914.87   901.06   907.68    115808000   14608685049
844 2017-01-09   913.24   913.69   879.81   902.83    141876992   14528815565
845 2017-01-08   908.17   942.72   887.25   911.20    158715008   14661966429
846 2017-01-07   903.49   908.59   823.56   908.59    279550016   14618030536
847 2017-01-06  1014.24  1046.81   883.94   902.20    351876000   14513695758
848 2017-01-05  1156.73  1191.10   910.42  1013.38    510199008   16300254795
849 2017-01-04  1044.40  1159.42  1044.40  1154.73    344945984   18571869009
850 2017-01-03  1021.60  1044.08  1021.60  1043.84    185168000   16786368910
851 2017-01-02   998.62  1031.39   996.70  1021.75    222184992   16429024775
852 2017-01-01   963.66  1003.08   958.70   998.33    147775008   16050407461

[853 rows x 7 columns]

In [33]:
all_coins_df = my_cryptory.extract_bitinfocharts("btc")
# coins of interest
bitinfocoins = ["btc", "eth", "xrp", "bch", "ltc", "dash", "xmr", "doge"]
for coin in bitinfocoins[1:]:
    all_coins_df = all_coins_df.merge(my_cryptory.extract_bitinfocharts(coin), on="date", how="left")

In [68]:
all_coins_df = all_coins_df.fillna(0)
all_coins_df

,date,btc_price,eth_price,xrp_price,bch_price,ltc_price,dash_price,xmr_price,doge_price
0,2019-05-04,5636.000,161.309,0.30300,281.142,76.091,119.634,66.250,0.002570
1,2019-05-03,5704.000,166.240,0.30900,285.168,77.391,119.319,66.477,0.002660
2,2019-05-02,5432.000,160.495,0.30400,271.795,73.269,116.763,64.995,0.002570
3,2019-05-01,5354.000,161.126,0.30500,269.698,73.231,114.102,63.580,0.002500
4,2019-04-30,5265.000,158.496,0.30600,248.409,71.086,109.446,61.716,0.002450
5,2019-04-29,5240.000,155.706,0.29300,246.288,68.246,109.096,61.243,0.002460
6,2019-04-28,5260.000,157.867,0.29800,262.168,70.581,109.764,62.224,0.002520
7,2019-04-27,5252.000,157.234,0.29600,264.849,72.399,109.355,62.443,0.002520
8,2019-04-26,5250.000,155.390,0.29400,266.363,72.532,109.298,62.679,0.002470
9,2019-04-25,5431.000,163.279,0.30400,278.934,73.351,116.573,66.583,0.002550
10,2019-04-24,5487.000,165.863,0.30200,278.191,72.670,116.178,67.304,0.002590
11,2019-04-23,5530.000,173.397,0.32500,298.153,77.610,122.657,69.552,0.002780
12,2019-04-22,5310.000,170.625,0.32400,290.816,76.581,121.499,68.370,0.002730
13,2019-04-21,5281.000,169.998,0.32000,290.365,77.764,121.080,68.457,0.002740
14,2019-04-20,5310.000,173.686,0.33000,303.406,81.593,122.915,69.193,0.002840
15,2019-04-19,5260.000,172.481,0.33200,300.276,81.620,122.536,68.511,0.002880
16,2019-04-18,5265.000,172.431,0.33700,308.056,81.204,122.781,68.385,0.002860
17,2019-04-17,5220.000,166.169,0.33200,310.570,79.684,119.753,67.934,0.002780
18,2019-04-16,5105.000,163.271,0.32200,315.276,79.222,118.805,65.710,0.002760
19,2019-04-15,5125.000,164.934,0.32700,304.689,81.085,121.286,65.958,0.002820
20,2019-04-14,5080.000,163.796,0.32500,278.847,78.298,120.601,65.123,0.002830
21,2019-04-13,5086.000,164.025,0.32600,278.773,78.631,119.370,65.300,0.002840
22,2019-04-12,5043.000,164.034,0.32700,275.040,78.524,120.016,66.737,0.002770
23,2019-04-11,5125.000,167.621,0.33100,277.597,81.167,123.296,66.371,0.002790
24,2019-04-10,5262.000,179.253,0.35600,301.550,88.158,131.468,69.733,0.002990
25,2019-04-09,5200.000,176.801,0.35000,298.084,86.998,132.069,68.715,0.002880
26,2019-04-08,5224.000,179.951,0.35800,309.158,89.244,135.049,70.440,0.003150
27,2019-04-07,5137.000,168.673,0.35700,315.127,92.803,133.471,68.970,0.003340
28,2019-04-06,5048.000,165.220,0.35700,297.585,89.828,131.997,68.616,0.003450
29,2019-04-05,4985.000,163.110,0.36300,289.969,87.470,129.818,66.740,0.003500
...,...,...,...,...,...,...,...,...,...
824,2017-01-30,915.703,10.460,0.00641,0.000,3.893,15.678,12.694,0.000207
825,2017-01-29,915.551,10.440,0.00635,0.000,3.836,15.229,12.669,0.000207
826,2017-01-28,916.865,10.475,0.00639,0.000,3.841,15.112,12.552,0.000207
827,2017-01-27,914.645,10.451,0.00671,0.000,3.816,15.150,11.858,0.000207
828,2017-01-26,903.996,10.496,0.00649,0.000,3.756,14.572,11.831,0.000204
829,2017-01-25,894.156,10.478,0.00655,0.000,3.729,14.082,11.716,0.000202
830,2017-01-24,906.179,10.597,0.00667,0.000,3.790,14.313,11.935,0.000205
831,2017-01-23,918.084,10.693,0.00670,0.000,3.823,15.045,12.123,0.000208
832,2017-01-22,920.879,10.772,0.00674,0.000,3.859,15.147,12.007,0.000209
833,2017-01-21,914.851,10.711,0.00674,0.000,3.888,15.011,11.993,0.000209
834,2017-01-20,892.331,10.511,0.00707,0.000,3.876,15.149,11.974,0.000210
835,2017-01-19,890.236,10.232,0.00675,0.000,3.856,14.629,11.971,0.000210
836,2017-01-18,882.986,10.177,0.00668,0.000,3.871,13.884,12.056,0.000211
837,2017-01-17,873.162,9.975,0.00680,0.000,3.899,13.722,11.363,0.000213
838,2017-01-16,825.861,9.605,0.00682,0.000,3.873,12.514,10.495,0.000208
839,2017-01-15,816.142,9.729,0.00682,0.000,3.895,12.290,10.490,0.000209
840,2017-01-14,825.581,9.608,0.00672,0.000,3.929,12.430,11.422,0.000212
841,2017-01-13,805.197,9.582,0.00655,0.000,3.933,12.120,11.610,0.000212
842,2017-01-12,781.292,9.503,0.00657,0.000,3.914,11.459,11.470,0.000208
843,2017-01-11,843.358,10.035,0.00670,0.000,4.161,11.837,12.421,0.000217
844,2017-01-10,899.089,10.397,0.00620,0.000,4.441,12.379,13.554,0.000222
845,2017-01-09,890.728,10.424,0.00624,0.000,3.995,12.422,13.076,0.000221
846,2017-01-08,908.784,9.985,0.00636,0.000,3.939,12.635,13.364,0.000223
847,2017-01-07,865.388,9.776,0.00629,0.000,3.802,11.949,12.870,0.000220
848,2017-01-06,927.984,10.007,0.00623,0.000,4.010,13.189,14.822,0.000222
849,2017-01-05,1045.000,10.479,0.00650,0.000,4.404,14.815,16.713,0.000225
850,2017-01-04,1075.000,10.440,0.00642,0.000,4.585,14.748,16.807,0.000226
851,2017-01-03,1017.000,8.811,0.00632,0.000,4.525,12.383,16.125,0.000220
852,2017-01-02,1010.000,8.182,0.00640,0.000,4.539,11.593,14.671,0.000222
853,2017-01-01,970.988,8.233,0.00651,0.000,4.389,11.356,13.532,0.000224

In [74]:
all_coins_df[,-1:]

SyntaxError: invalid syntax (<ipython-input-74-c53d208fa571>, line 1)

In [77]:
data = []

coinNames = iter(all_coins_df)
next(coinNames)

for coin in coinNames:
    print(coin)
#    print(all_coins_df[coin].tolist())
    coin_chart_info = go.Scatter(
        x = all_coins_df['date'].tolist(),
        y=all_coins_df[coin].tolist(),
        mode = 'lines',
        name = coin)
    data.append(coin_chart_info)
    
data

btc_price
eth_price
xrp_price
bch_price
ltc_price
dash_price
xmr_price
doge_price

[Scatter({
     'mode': 'lines',
     'name': 'btc_price',
     'x': [2019-05-04 00:00:00, 2019-05-03 00:00:00, 2019-05-02 00:00:00, ...,
           2017-01-03 00:00:00, 2017-01-02 00:00:00, 2017-01-01 00:00:00],
     'y': [5636.0, 5704.0, 5432.0, ..., 1017.0, 1010.0, 970.988]
 }), Scatter({
     'mode': 'lines',
     'name': 'eth_price',
     'x': [2019-05-04 00:00:00, 2019-05-03 00:00:00, 2019-05-02 00:00:00, ...,
           2017-01-03 00:00:00, 2017-01-02 00:00:00, 2017-01-01 00:00:00],
     'y': [161.309, 166.24, 160.495, ..., 8.811, 8.182, 8.233]
 }), Scatter({
     'mode': 'lines',
     'name': 'xrp_price',
     'x': [2019-05-04 00:00:00, 2019-05-03 00:00:00, 2019-05-02 00:00:00, ...,
           2017-01-03 00:00:00, 2017-01-02 00:00:00, 2017-01-01 00:00:00],
     'y': [0.303, 0.309, 0.304, ..., 0.00632, 0.0064, 0.00651]
 }), Scatter({
     'mode': 'lines',
     'name': 'bch_price',
     'x': [2019-05-04 00:00:00, 2019-05-03 00:00:00, 2019-05-02 00:00:00, ...,
           2017-01-03 00:00:00, 2017-01-02 00:00:00, 2017-01-01 00:00:00],
     'y': [281.142, 285.168, 271.795, ..., 0.0, 0.0, 0.0]
 }), Scatter({
     'mode': 'lines',
     'name': 'ltc_price',
     'x': [2019-05-04 00:00:00, 2019-05-03 00:00:00, 2019-05-02 00:00:00, ...,
           2017-01-03 00:00:00, 2017-01-02 00:00:00, 2017-01-01 00:00:00],
     'y': [76.091, 77.391, 73.269, ..., 4.525, 4.539, 4.389]
 }), Scatter({
     'mode': 'lines',
     'name': 'dash_price',
     'x': [2019-05-04 00:00:00, 2019-05-03 00:00:00, 2019-05-02 00:00:00, ...,
           2017-01-03 00:00:00, 2017-01-02 00:00:00, 2017-01-01 00:00:00],
     'y': [119.634, 119.319, 116.763, ..., 12.383, 11.593, 11.356]
 }), Scatter({
     'mode': 'lines',
     'name': 'xmr_price',
     'x': [2019-05-04 00:00:00, 2019-05-03 00:00:00, 2019-05-02 00:00:00, ...,
           2017-01-03 00:00:00, 2017-01-02 00:00:00, 2017-01-01 00:00:00],
     'y': [66.25, 66.477, 64.995, ..., 16.125, 14.671, 13.532]
 }), Scatter({
     'mode': 'lines',
     'name': 'doge_price',
     'x': [2019-05-04 00:00:00, 2019-05-03 00:00:00, 2019-05-02 00:00:00, ...,
           2017-01-03 00:00:00, 2017-01-02 00:00:00, 2017-01-01 00:00:00],
     'y': [0.00257, 0.00266, 0.00257, ..., 0.00022, 0.000222, 0.000224]
 })]

In [78]:
import plotly.plotly as py
import plotly.graph_objs as go


layout = go.Layout(
    title = "Price Over Time")


fig = dict(data=data, layout = layout)
py.iplot(fig, filename='stacked-area-plot-hover')

In [31]:
data = []

for coin in all_coins_df.columns:
    print(coin[:-6])
    data.append({})

TypeError: string indices must be integers

In [28]:
print(all_coins_df)

          date  btc_price  eth_price  xrp_price  bch_price  ltc_price  \
0   2019-05-04   5636.000    161.309    0.30300    281.142     76.091
1   2019-05-03   5704.000    166.240    0.30900    285.168     77.391
2   2019-05-02   5432.000    160.495    0.30400    271.795     73.269
3   2019-05-01   5354.000    161.126    0.30500    269.698     73.231
4   2019-04-30   5265.000    158.496    0.30600    248.409     71.086
5   2019-04-29   5240.000    155.706    0.29300    246.288     68.246
6   2019-04-28   5260.000    157.867    0.29800    262.168     70.581
7   2019-04-27   5252.000    157.234    0.29600    264.849     72.399
8   2019-04-26   5250.000    155.390    0.29400    266.363     72.532
9   2019-04-25   5431.000    163.279    0.30400    278.934     73.351
10  2019-04-24   5487.000    165.863    0.30200    278.191     72.670
11  2019-04-23   5530.000    173.397    0.32500    298.153     77.610
12  2019-04-22   5310.000    170.625    0.32400    290.816     76.581
13  2019-04-21   5281.000    169.998    0.32000    290.365     77.764
14  2019-04-20   5310.000    173.686    0.33000    303.406     81.593
15  2019-04-19   5260.000    172.481    0.33200    300.276     81.620
16  2019-04-18   5265.000    172.431    0.33700    308.056     81.204
17  2019-04-17   5220.000    166.169    0.33200    310.570     79.684
18  2019-04-16   5105.000    163.271    0.32200    315.276     79.222
19  2019-04-15   5125.000    164.934    0.32700    304.689     81.085
20  2019-04-14   5080.000    163.796    0.32500    278.847     78.298
21  2019-04-13   5086.000    164.025    0.32600    278.773     78.631
22  2019-04-12   5043.000    164.034    0.32700    275.040     78.524
23  2019-04-11   5125.000    167.621    0.33100    277.597     81.167
24  2019-04-10   5262.000    179.253    0.35600    301.550     88.158
25  2019-04-09   5200.000    176.801    0.35000    298.084     86.998
26  2019-04-08   5224.000    179.951    0.35800    309.158     89.244
27  2019-04-07   5137.000    168.673    0.35700    315.127     92.803
28  2019-04-06   5048.000    165.220    0.35700    297.585     89.828
29  2019-04-05   4985.000    163.110    0.36300    289.969     87.470
..         ...        ...        ...        ...        ...        ...
824 2017-01-30    915.703     10.460    0.00641        NaN      3.893
825 2017-01-29    915.551     10.440    0.00635        NaN      3.836
826 2017-01-28    916.865     10.475    0.00639        NaN      3.841
827 2017-01-27    914.645     10.451    0.00671        NaN      3.816
828 2017-01-26    903.996     10.496    0.00649        NaN      3.756
829 2017-01-25    894.156     10.478    0.00655        NaN      3.729
830 2017-01-24    906.179     10.597    0.00667        NaN      3.790
831 2017-01-23    918.084     10.693    0.00670        NaN      3.823
832 2017-01-22    920.879     10.772    0.00674        NaN      3.859
833 2017-01-21    914.851     10.711    0.00674        NaN      3.888
834 2017-01-20    892.331     10.511    0.00707        NaN      3.876
835 2017-01-19    890.236     10.232    0.00675        NaN      3.856
836 2017-01-18    882.986     10.177    0.00668        NaN      3.871
837 2017-01-17    873.162      9.975    0.00680        NaN      3.899
838 2017-01-16    825.861      9.605    0.00682        NaN      3.873
839 2017-01-15    816.142      9.729    0.00682        NaN      3.895
840 2017-01-14    825.581      9.608    0.00672        NaN      3.929
841 2017-01-13    805.197      9.582    0.00655        NaN      3.933
842 2017-01-12    781.292      9.503    0.00657        NaN      3.914
843 2017-01-11    843.358     10.035    0.00670        NaN      4.161
844 2017-01-10    899.089     10.397    0.00620        NaN      4.441
845 2017-01-09    890.728     10.424    0.00624        NaN      3.995
846 2017-01-08    908.784      9.985    0.00636        NaN      3.939
847 2017-01-07    865.388      9.776    0.00629        NaN      3.802
848 2017-01-06    927.984     10.007    0.00623        NaN      4.010
849 2017-01-05   1045.000     10.479    0.00650        NaN      4.404
850 2017-01-04   1075.000     10.440    0.00642        NaN      4.585
851 2017-01-03   1017.000      8.811    0.00632        NaN      4.525
852 2017-01-02   1010.000      8.182    0.00640        NaN      4.539
853 2017-01-01    970.988      8.233    0.00651        NaN      4.389

     dash_price  xmr_price  doge_price
0       119.634     66.250    0.002570
1       119.319     66.477    0.002660
2       116.763     64.995    0.002570
3       114.102     63.580    0.002500
4       109.446     61.716    0.002450
5       109.096     61.243    0.002460
6       109.764     62.224    0.002520
7       109.355     62.443    0.002520
8       109.298     62.679    0.002470
9       116.573     66.583    0.002550
10      116.178     67.304    0.002590
11      122.657     69.552    0.002780
12      121.499     68.370    0.002730
13      121.080     68.457    0.002740
14      122.915     69.193    0.002840
15      122.536     68.511    0.002880
16      122.781     68.385    0.002860
17      119.753     67.934    0.002780
18      118.805     65.710    0.002760
19      121.286     65.958    0.002820
20      120.601     65.123    0.002830
21      119.370     65.300    0.002840
22      120.016     66.737    0.002770
23      123.296     66.371    0.002790
24      131.468     69.733    0.002990
25      132.069     68.715    0.002880
26      135.049     70.440    0.003150
27      133.471     68.970    0.003340
28      131.997     68.616    0.003450
29      129.818     66.740    0.003500
..          ...        ...         ...
824      15.678     12.694    0.000207
825      15.229     12.669    0.000207
826      15.112     12.552    0.000207
827      15.150     11.858    0.000207
828      14.572     11.831    0.000204
829      14.082     11.716    0.000202
830      14.313     11.935    0.000205
831      15.045     12.123    0.000208
832      15.147     12.007    0.000209
833      15.011     11.993    0.000209
834      15.149     11.974    0.000210
835      14.629     11.971    0.000210
836      13.884     12.056    0.000211
837      13.722     11.363    0.000213
838      12.514     10.495    0.000208
839      12.290     10.490    0.000209
840      12.430     11.422    0.000212
841      12.120     11.610    0.000212
842      11.459     11.470    0.000208
843      11.837     12.421    0.000217
844      12.379     13.554    0.000222
845      12.422     13.076    0.000221
846      12.635     13.364    0.000223
847      11.949     12.870    0.000220
848      13.189     14.822    0.000222
849      14.815     16.713    0.000225
850      14.748     16.807    0.000226
851      12.383     16.125    0.000220
852      11.593     14.671    0.000222
853      11.356     13.532    0.000224

[854 rows x 9 columns]

          date  btc_price
0   2019-05-04   5636.000
1   2019-05-03   5704.000
2   2019-05-02   5432.000
3   2019-05-01   5354.000
4   2019-04-30   5265.000
5   2019-04-29   5240.000
6   2019-04-28   5260.000
7   2019-04-27   5252.000
8   2019-04-26   5250.000
9   2019-04-25   5431.000
10  2019-04-24   5487.000
11  2019-04-23   5530.000
12  2019-04-22   5310.000
13  2019-04-21   5281.000
14  2019-04-20   5310.000
15  2019-04-19   5260.000
16  2019-04-18   5265.000
17  2019-04-17   5220.000
18  2019-04-16   5105.000
19  2019-04-15   5125.000
20  2019-04-14   5080.000
21  2019-04-13   5086.000
22  2019-04-12   5043.000
23  2019-04-11   5125.000
24  2019-04-10   5262.000
25  2019-04-09   5200.000
26  2019-04-08   5224.000
27  2019-04-07   5137.000
28  2019-04-06   5048.000
29  2019-04-05   4985.000
..         ...        ...
824 2017-01-30    915.703
825 2017-01-29    915.551
826 2017-01-28    916.865
827 2017-01-27    914.645
828 2017-01-26    903.996
829 2017-01-25    894.156
830 2017-01-24    906.179
831 2017-01-23    918.084
832 2017-01-22    920.879
833 2017-01-21    914.851
834 2017-01-20    892.331
835 2017-01-19    890.236
836 2017-01-18    882.986
837 2017-01-17    873.162
838 2017-01-16    825.861
839 2017-01-15    816.142
840 2017-01-14    825.581
841 2017-01-13    805.197
842 2017-01-12    781.292
843 2017-01-11    843.358
844 2017-01-10    899.089
845 2017-01-09    890.728
846 2017-01-08    908.784
847 2017-01-07    865.388
848 2017-01-06    927.984
849 2017-01-05   1045.000
850 2017-01-04   1075.000
851 2017-01-03   1017.000
852 2017-01-02   1010.000
853 2017-01-01    970.988

[854 rows x 2 columns]